Repository mattjmcnaughton/symptom-diagnosis-explorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, typecheck

.pre-commit-config.yaml:

repos:
  # Generic pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
        name: ruff-lint
        args: [--fix]
        exclude: \.ipynb$
      - id: ruff-format
        name: ruff-format
        exclude: \.ipynb$

  - repo: local
    hooks:
      - id: nbstripout
        name: Strip Jupyter notebook outputs
        entry: uv run nbstripout
        language: system
        files: \.ipynb$
      - id: typecheck
        name: ty Type Check (Backend)
        entry: bash -c 'uv run ty check src'
        language: system
        files: ^.*\.py$
        pass_filenames: false

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

ci(github-actions): add Claude Code integration workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  docs/claude-github-actions.md
Due: none

ci(github-actions): add CI testing workflow
  .github/workflows/ci.yml
  tests/integration/services/test_model_development.py
Due: typecheck

ci(github-actions): configure code review to run only on PR creation
  .github/workflows/claude-code-review.yml
Due: none

ci(github-actions): add uv install caching to CI workflow
  .github/workflows/ci.yml
Due: none

feat: Add Polars DataFrame support and update dependencies
  pyproject.toml
  src/symptom_diagnosis_explorer/models/__init__.py
  src/symptom_diagnosis_explorer/models/domain.py
  src/symptom_diagnosis_explorer/services/dataset.py
  tests/integration/services/test_dataset.py
  uv.lock
Due: typecheck

docs: expand agent collaboration guidance
  AGENTS.md
  CLAUDE.md
Due: none

Docs: Link to CONTRIBUTING.md for contributor guidance
  CLAUDE.md
  README.md
Due: none

Docs: Update CLAUDE.md with CONTRIBUTING.md link
  CLAUDE.md
Due: none

docs: clarify direct tooling commands
  CONTRIBUTING.md
Due: none

docs: create and link contributing guidelines (#22)
  CLAUDE.md
  CONTRIBUTING.md
  README.md
Due: none

feat(ml-frameworks): add multi-framework classification architecture
  .ai/specs/9-langchain/diary.md
  .ai/specs/9-langchain/plan.md
  .ai/specs/9-langchain/research.md
  CLAUDE.md
  README.md
  notebooks/projects/1-dspy/experiments/2025-10-26-initial-pipeline.ipynb
  notebooks/projects/9-langchain/experiments/2025-11-11-framework-comparison.ipynb
  notebooks/projects/9-langchain/experiments/2025-11-11-langchain-pipeline.ipynb
  notebooks/projects/9-langchain/experiments/2025-11-11-pydantic-ai-pipeline.ipynb
  notebooks/projects/README.md
  pyproject.toml
  src/symptom_diagnosis_explorer/cli.py
  src/symptom_diagnosis_explorer/commands/__init__.py
  src/symptom_diagnosis_explorer/commands/classify/__init__.py
  src/symptom_diagnosis_explorer/commands/classify/evaluate.py
  src/symptom_diagnosis_explorer/commands/classify/list_models.py
  src/symptom_diagnosis_explorer/commands/classify/tune.py
  src/symptom_diagnosis_explorer/models/model_development.py
  src/symptom_diagnosis_explorer/services/ml_models/__init__.py
  src/symptom_diagnosis_explorer/services/ml_models/base.py
  src/symptom_diagnosis_explorer/services/ml_models/dspy.py
  src/symptom_diagnosis_explorer/services/ml_models/langchain.py
  src/symptom_diagnosis_explorer/services/ml_models/pydantic_ai.py
  src/symptom_diagnosis_explorer/services/ml_models/registry.py
  tests/integration/services/ml_models/__init__.py
  tests/integration/services/ml_models/test_dspy_integration.py
  tests/integration/services/ml_models/test_langchain_integration.py
  tests/integration/services/ml_models/test_pydantic_ai_integration.py
  uv.lock
Due: nbstripout, typecheck
